<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<appSettings>
	<!--integrated security=SSPI;-->
	<add key="CnnStr" value="Trusted_Connection=False;User Id=cedFW_usuario;Password=mosca430rijo;data source=.\SQLEXPRESS;persist security info=False;initial catalog=CedForecastWeb;"/>
    <add key="Ambiente" value="DESA"/>
    <add key="Cultura" value="en-GB"/>
    <add key="CulturaDateTimeFormat" value="es-AR"/>
    <add key="Autenticacion" value="NONE"/>
    <add key="Propietario" value="Cedeira Software Factory"/>
    <add key="NombreAplic" value="Cedeira Web"/>
    <add key="CodigoAplic" value="CedForecastWeb"/>
    <add key="Mantenedores" value="pablo.conde@cedeira.com.ar"/>
    <add key="MensajeGeneral" value="AMBIENTE DE DESARROLLO"/>
    <add key="CantidadDiasPremiumSinCostoEnAltaCuenta" value="15"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="MailServidorSmtp" value="mail.cedeira.com.ar"/>
    <add key="MailCredencialesUsr" value="facturaelectronica@cedeira.com.ar"/>
    <add key="MailCredencialesPsw" value="cedeira123"/>
    <add key="Proxy" value=""/>
    <add key="UsuarioProxy" value=""/>
    <add key="DominioProxy" value=""/>
    <add key="ClaveProxy" value=""/>
  </appSettings>

  <connectionStrings/>
  
    <system.web>
		<globalization uiCulture="es" culture="es-AR" />
        <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
        <compilation debug="true">
			<assemblies>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<!--
				<add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				-->
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<!--
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				-->			
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
        <!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
        <authentication mode="Windows"/>
        <!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.
		-->
        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    </system.web>
</configuration>