CedeiraAP/bin/*
CedeiraEx/bin/*
CedeiraAP/obj/*
CedeiraEx/obj/*
CedeiraUIForms/bin/*
CedeiraUIForms/obj/*
CedEntidades/bin/*
CedEntidades/obj/*
CedForecast/bin/*
CedForecast/obj/*
CedForecastDB/bin/*
CedForecastDB/obj/*
CedForecastEntidades/bin/*
CedForecastEntidades/obj/*
CedForecastRN/bin/*
CedForecastRN/obj/*
FileHelpers.ExcelStorage/bin/*
FileHelpers.ExcelStorage/obj/*
FileHelpers/bin/*
FileHelpers/obj/*
