<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Cedeira.Ex.ExceptionManagerSectionHandler,CedeiraEx" />
  </configSections>

  <exceptionManagement mode="on">
    <publisher assembly="CedeiraEx" type="Cedeira.Ex.MessageExceptionPublisher" include="*"/>
    <publisher assembly="CedeiraEx" type="Cedeira.Ex.MailWSExceptionPublisher" exclude="+Cedeira.Ex.Mep.Validaciones.BaseApplicationException;+Cedeira.Ex.Validaciones.BaseApplicationException" operatorMail="CedeiraSF@googlegroups.com"/>
  </exceptionManagement>

  <appSettings  configSource="ConfigFiles\appSettings.config">
  </appSettings>

  <connectionStrings configSource="ConfigFiles\connectionStrings.config">
  </connectionStrings>
</configuration>