<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,CedeiraEx" />
  </configSections>

  <exceptionManagement mode="on">
    <publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MessageExceptionPublisher" include="*" />
    <publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MailWSExceptionPublisher" exclude="+Microsoft.ApplicationBlocks.ExceptionManagement.Validaciones.BaseApplicationException" operatorMail="CedeiraSF@googlegroups.com"/>
  </exceptionManagement>

  <appSettings  configSource="ConfigFiles\appSettings.config">
  </appSettings>

  <connectionStrings configSource="ConfigFiles\connectionStrings.config">
  </connectionStrings>
</configuration>

