<appSettings>
  <add key="Cultura" value="en-GB" />
  <add key="CulturaDateTimeFormat" value="es-AR" />
  <add key="CampoHabilitadoBackColor" value="Gold" />
  <add key="LabelCampoHabilitadoForeColor" value="Red" />
  <add key="CampoDesHabilitadoBackColor" value="White" />
  <add key="LabelCampoDesHabilitadoForeColor" value="Navy" />
  <add key="Autenticacion" value="NONE" />
  <add key="QueryTimeOut" value="180" />
  <add key="ModoDebugDB" value="OFF" />
</appSettings>
