<connectionStrings>
  <add name="CnnStr" connectionString="integrated security=SSPI;data source=.\SQLEXPRESS;persist security info=False;initial catalog=CedForecast;" />
  <add name="CnnStrBejerman" connectionString="integrated security=SSPI;data source=.\SQLEXPRESS;persist security info=False;initial catalog=SBDAFERT" />
</connectionStrings>