<connectionStrings>
  <add name="CnnStr" connectionString="User Id=cedeira;Password=fernando1;data source=.\SQLEXPRESS;persist security info=False;initial catalog=CedForecast;" />
  <add name="CnnStrBejerman" connectionString="User Id=cedeira;Password=fernando1;data source=.\SQLEXPRESS;persist security info=False;initial catalog=SBDAFERT" />
</connectionStrings>