<connectionStrings>
  <add name="CnnStr" connectionString="User Id=cedFR_usuario;Password=mosca430rijo;data source=.\SQLEXPRESS;persist security info=False;initial catalog=CedForecast;" />
  <add name="CnnStrBejerman" connectionString="User Id=cedFR_usuario;Password=mosca430rijo;data source=.\SQLEXPRESS;persist security info=False;initial catalog=SBDAFERT" />
</connectionStrings>